/* Raleway */
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

html {
  font-size: 62.5%;
  font-family: "Raleway", sans-serif;
}

body {
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  font-family: "Raleway", sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.6rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 2.2rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.8rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: $gray9;
  display: flex;
  align-items: center;
  margin: 0 1rem;
  padding: 0 1rem;
  border-radius: 0.3rem;
}

a:hover {
  color: $gray5;
}

code {
  background-color: $gray5;
  color: white;
  padding: 0 0.2rem;
  border-radius: 0.3rem;
}

button:focus {
  outline: 0;
}

img {
  border-radius: 0.4rem;
  width: 100%;
  height: auto;
}
